body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

img {
    display: block
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    display: flex;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 40px;
    margin: 0 auto;
    

}

.header {
    border-bottom: 1px solid #e7e9fc;
    width: 1440px;
    height: 72px;
} 

/*---------------logo-----------------*/
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-transform: uppercase;
}

.logo-header {
    color: #2e2f42;
}

/*---------------navigation------------*/
.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.navigation-link {
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
}

.navigation-link:hover {
    color: #404bbf;
}

.navigation-link:focus {
    color: #404bbf;
}

/*---------------address-------------*/
.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;

    padding-right: 40px;
    padding-left: 40px;
}

.address-list li {
    margin-right: 40px;
}

.address-list li:last-child {
    margin-right: 0;
   
}
.address-info {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-info:hover {
    color: #404bbf;
}
.address-info:focus {
    color: #404bbf;
}

/*--------------main-----------*/
.main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    color: #ffffff;
}

/*----------button------------*/
.button-container{
    display: flex;
    flex-direction: column;
    align-content: center;

}

.buttons-section {
    background-color: #2e2f42;
    padding: 188px 0;
}

.buy-button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    max-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #404BBF;
}

.buy-button:focus {
    background-color: #404BBF;
}

/*------------approach-section-----------*/
.approach-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}

.approach-list {
    display: flex;
    gap: 24px;
}

.approach-item {
    width: calc((100% - 72px) / 4);
}

/*.approach-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}*/

.approach-paragrafs {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*------------team-section-----------*/
.team-section {
    background-color: #F4F4FD;
    line-height: 1.5 font-size: 16px;
}

.team-subtitle {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {
    background-color: #FFFFFF;
}

.team-station {
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.test {
    background-color: #FFFFFF;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/*--------------portfolio-section--------------*/
.portfolio-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-paragrapf {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*---------------footer--------------*/

.main-footer {
    background-color: #2e2f42;
}

.logo-footer {
    color: #f4f4fd;
}

.footer-paragrapf {
    letter-spacing: 0.02em;
    color: #F4F4FD;
    line-height: 1.5;

}